*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body {
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  color: #82baf3;
} */



body{
    font-family: 'montserrat' , sans-serif;
    /* background-image: url(imgs/Canva2.png); */
    background-size: cover;
    background-position: top center;

    display: flex;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: #bfdfec;
    flex-direction: column;
    /* font-family: system-ui, calibri, serif; */
    background-repeat: repeat-x;
    background-image: url("https://i.stack.imgur.com/b7z29.png");
    animation: movement 15s linear infinite;      

  }

@keyframes movement {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: 560px 0px;
    }
  }

.app-wrap{
    display: flex ;
    flex-direction: column;
    min-height: 100vh;
    /* background-image: linear-gradient(to bottom , rgba(0,0,0,0.3) , rgba(0,0,0,0.6)); */
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input{
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #df8e00;
    color:#313131 ;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255,255,255,0.6);
}

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* .location{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
} */

.location .city{
    margin-top: 10%;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date{
    color: #fff;
    font-size: 16px ;
}

.current .temp{
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin:8% 0px;
    text-shadow:2px 10px rgba(0,0,0,0.6);
}

.current .temp span{
    font-weight: 500;
}

.current .pressure{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow:0px 3px rgba(0,0,0,0.4);
}

.current .rain{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow:0px 4px rgba(0,0,0,0.4);
}


/*Butterfly animation*/

/*animation stage*/
.stage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 900px;
  overflow-y: hidden !important;
  z-index: -1;
}

/*parent is for vertical flight*/
.mariposa {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 200px;
  height: 200px;
  opacity: 0; /* start at 0 so they don't appear while loading */
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  animation: fly 4s infinite linear;
  animation-delay: .125s;
  
  /*stagger flight*/
  &:nth-child(2) {
    animation-delay: 0.4s;
    
    /*stagger turn*/
    .mariposa-turn {
      animation-delay: 0.75s;
      
      /*stagger size and rotation*/
      .mariposa-flutter {
        transform: scale(0.7) rotateX(65deg);
      }
    }
  }

  /* stagger flight*/
  &:nth-child(3) {
    animation-delay: 0.75s;
   
    /*stagger turn*/
    .mariposa-turn {
      animation-delay: 1.25s;
      
      /* stagger size and rotation*/
      .mariposa-flutter {
        transform: scale(0.3) rotateX(45deg);
      }
    }   
  }
  
  /*establishes perspective, animates rotation and horizontal movement*/
  .mariposa-turn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    perspective: 1000px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform-origin: 50% 80%; /* turn from a natural center */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation: turn 3s infinite cubic-bezier(.31,.09,.77,1.5);
    transform-style: preserve-3d;
    filter: drop-shadow(50px 30px 10px rgba(0, 0, 0, 0.5));
  }
}

.mariposa-flutter {
  width: 2rem;
  height: 8rem;
  position: relative;
  top: 0;
  margin: 0 auto;
  background: url("https://assets.codepen.io/2273448/butterfly-body.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform-style: preserve-3d;
  transform: rotateX(25deg) rotateY(5deg);
  /* wings*/
  &::before,
  &::after {
    position: absolute;
    top: 5%;
    margin: auto;
    content: "";
    height: 100%;
    width: 250%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform-style: preserve-3d;
    animation-delay: 0;
  }
  
  &::before {
    background-image: url("https://assets.codepen.io/2273448/butterfly-wing.png");
    transform-origin: 0% 50%;
    animation: flutter-r 0.3s infinite ease-out;
    left: 55%;
  }
  
  &::after {
    background-image: url("https://assets.codepen.io/2273448/butterfly-wing-l.png");
    transform-origin: 100% 50%;
    animation: flutter-l 0.3s infinite ease-out;
    right: 55%;
  }
}



/* wing flutter - right wing*/
@keyframes flutter-r {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-40deg);
  }
}

/*wing flutter - left wing*/
@keyframes flutter-l {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(40deg);
  }
}


/* horizontal motion and rotation*/
@keyframes turn {
  0%, 100% {
    transform: translateX(-20%) rotateZ(30deg);
  }
  25% {
    transform: translateX(50%) rotateZ(-30deg);
  }
  50% {
    transform: translateX(-80%) rotateZ(30deg);
  }
  75% {
    transform: translateX(30%) rotateZ(-30deg);
  }
}


/* vertical flight motion*/
@keyframes fly {
  0% {
    opacity: 0;
    transform: translateY(70vh);
  }
  3%, 99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70vh);
  }
}


/*SUN*/
:root {
    --prim: transparent;
    --sec: #fcdc6a21;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .sunshine {
    border-radius: 50%;
    height: 500px;
    width: 500px;
    background: conic-gradient(
      var(--prim) 20deg,
      var(--sec) 20deg 40deg,
      var(--prim) 40deg 60deg,
      var(--sec) 60deg 80deg,
      var(--prim) 80deg 100deg,
      var(--sec) 100deg 120deg,
      var(--prim) 120deg 140deg,
      var(--sec) 140deg 160deg,
      var(--prim) 160deg 180deg,
      var(--sec) 180deg 200deg,
      var(--prim) 200deg 220deg,
      var(--sec) 220deg 240deg,
      var(--prim) 240deg 260deg,
      var(--sec) 260deg 280deg,
      var(--prim) 280deg 300deg,
      var(--sec) 300deg 320deg,
      var(--prim) 320deg 340deg,
      var(--sec) 340deg
    );
    
    animation: sun 30s infinite linear;
    position: absolute;
    top: 25%;
    right: 90%;
    transform: translate(50%, -50%);
    
  }
  
  .sun {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(254, 248, 212);
    filter: blur(10px);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: grid;
    place-items: center;
  }
  
  .sun::before {
    content: "";
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: rgb(255, 229, 136);
    position: absolute;
    z-index: 2;
  }
  
  @keyframes sun {
    to {
      transform: translate(50%, -50%) rotate(360deg);
    }
  }
  
  /*rain*/
  
.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

body.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

body.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.toggles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.toggle {
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
  line-height: 51px;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.toggle:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.toggle.active {
  background-color: rgba(255, 255, 255, 0.4);
}

.splat-toggle {
  top: 20px;
}

.back-row-toggle {
  top: 90px;
  line-height: 12px;
  padding-top: 14px;
}

.single-toggle {
  top: 160px;
}

body.single-toggle .drop {
  display: none;
}

body.single-toggle .drop:nth-child(10) {
  display: block;
}